 :host {
    display: block;
    height: 100%;
    overflow: auto;
}

.badge {
  position: absolute; /* Positionne le badge par rapport à son parent */
  top: 10px; /* Distance du haut */
  right: 10px; /* Distance de la droite */
  background-color: red; /* Couleur de fond par défaut */
  color: white; /* Couleur du texte */
  padding: 5px 10px; /* Espacement interne */
  border-radius: 15px; /* Coins arrondis */
  font-size: 12px; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  text-transform: uppercase; /* Texte en majuscules */
}

.INSTOCK{
  background-color: green; /* Couleur pour "INSTOCK" */
}

.LOWSTOCK{
  background-color: red; /* Couleur pour "SOLD OUT" */
}

.OUTOFSTOC{
  background-color: orange; /* Couleur pour "PROMO" */
}